/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    background-color: #222; /* Dark background */
    font-family: Arial, sans-serif;
    color: #fff; /* White text */
    margin: 20px;
    line-height: 1.6;
}

header {
    background-color: #333; /* Slightly lighter gray header background */
    color: #fff; /* White header text */
    padding: 20px;
}

header h1 {
    font-size: 2em;
}

/* Navigation styles */
nav {
    background-color: #333; /* Background color for the navigation bar */
    padding: 10px; /* Add padding to the navigation bar */
}

nav a {
    color: #b3ffb3; /* Light green text color for navigation links */
    text-decoration: none; /* Remove underline from links */
    margin-right: 10px; /* Add spacing between links */
}

nav a:hover {
    text-decoration: underline; /* Underline links on hover */
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #fff; /* White heading text */
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

footer {
    margin-top: 40px;
    text-align: center;
}

footer p {
    color: #ccc; /* Light gray footer text */
}

/* About page styles */
.about-paragraph {
    max-width: 600px; /* Limit paragraph width */
    margin: 0 auto; /* Center paragraphs */
}

#about-section a {
    color: #b3ffb3; /* Light green text color for links within About section */
    text-decoration: none; /* Remove underline from links */
}

#about-section a:hover {
    text-decoration: underline; /* Underline links on hover */
}

#certifications a {
    color: #b3ffb3; /* Light green text color for links within About section */
    text-decoration: none; /* Remove underline from links */
}

#certifications a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Work page styles */
.work-table {
    width: 100%;
    border-collapse: collapse;
}

.work-table th, .work-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.work-table th {
    background-color: #f2f2f2;
}
